{% extends "base_content.html" %}

{% load staticfiles %}

{% block title %}Kodeks Postępowania{% endblock %}

{% block og_title %}Kodeks Postępowania{% endblock %}

{% block subcontent %}
<div class="margin-bottom-large faq">
    <h1>Kodeks Postępowania</h1>
    <h2>Cel</h2>
    <p>Podstawowym celem istnienia <i>Kodeksu Postępowania</i> jest otwartość na jak największą liczbę osób o jak najbardziej urozmaiconych i różnorodnych korzeniach. Z tego powodu zobowiązujemy się do zapewnienia życzliwej, bezpiecznej i przyjaznej atmosfery wszystkim, bez względu na płeć, orientację seksualną, sprawność, pochodzenie etniczne, status społeczno-ekonomiczny i religię (lub jej brak).</p>
    <p>Ten Kodeks postępowania nakreśla zarówno nasze oczekiwania wobec wszystkich, którzy uczestniczą w naszej społeczności, jak i konsekwencje niedopuszczalnych zachowań.</p>
    <p>Zapraszamy wszystkich uczestników i uczestniczki naszych wydarzeń do pomocy w kreowaniu doświadczeń, które będą bezpieczne i pozytywne dla każdego.</p>
    <h2>Poczucie otwartości</h2>
    <p>Dodatkowym celem <i>Kodeksu Postępowania</i> jest zwiększenie poczucia otwarto-źródłowego, -kulturowego, i -technicznego obywatelstwa poprzez zachęcanie uczestników i uczestniczek do rozpoznawania i wzmacniania związków między naszymi zachowaniami a ich wpływem na społeczność.</p>
    <p>Społeczności odzwierciedlają społeczeństwa, w ramach których istnieją, dlatego też pozytywne oddziaływanie jest kluczowe dla przeciwdziałania wielu formom nierówności i nadużyć władzy istniejących w społeczeństwie.</p>
    <p>Jeśli widzisz kogoś wkładającego szczególny wysiłek, by uczynić naszą społeczność przyjazną, życzliwą i zachęcającą wszystkich uczestników do wnoszenia w nią jak największego wkładu – chcielibyśmy o tym wiedzieć.</p>
    <h2>Zachowania oczekiwane</h2>
    <ul>
        <li>Uczestnicz w sposób autentyczny i aktywny. Robiąc to, przyczyniasz się do zdrowia i żywotności tej społeczności.</li>
        <li>Zachowuj rozwagę i szacunek w swoich słowach i czynach.</li>
        <li>Spróbuj współpracy przed konfliktem.</li>
        <li>Powstrzymuj się przed poniżającymi, dyskryminującymi lub niepokojącymi zachowaniami i słowami.</li>
        <li>Zwracaj uwagę na swoje otoczenie i innych uczestników. Ostrzeż społeczność, jeśli zauważysz niebezpieczną sytuację, kogoś potrzebującego pomocy lub naruszenie <i>Kodeksu Postępowania</i>, nawet jeśli wydają się nieistotne.
        </li>
    </ul>
    <h2>Zachowania niedopuszczalne</h2>
    <p>Zachowania niedopuszczalne to między innymi: zastraszające, nękające, obraźliwe, dyskryminujące, uwłaczające i poniżające słowa lub czyny dowolnego uczestnika naszej społeczności w Internecie, na wszelkich powiązanych wydarzeniach oraz w komunikacji prywatnej dotyczącej spraw społeczności. Miejsca spotkań społeczności mogą być współdzielone z członkami społeczeństwa; szanuj wszystkich obecnych w danym miejscu.</p>
    <p>Nękanie to między innymi: szkodliwe lub krzywdzące słowne lub pisemne komentarze dotyczące płci, orientacji seksualnej, pochodzenia, religii, niepełnosprawności; niewłaściwe użycie nagości lub ilustracji o podtekście seksualnym w przestrzeni publicznej (w tym w prezentacjach); celowe zastraszanie, prześladowanie (tzw. stalking) lub śledzenie; niepokojące fotografowanie lub nagrywanie; trwałe zaburzanie wystąpień i innych wydarzeń; niewłaściwy kontakt fizyczny i niemile widziane zainteresowanie seksualne.</p>
    <h2>Konsekwencje niedopuszczalnych zachowań</h2>
    <p>Niedopuszczalne zachowanie ze strony dowolnego uczestnika społeczności – w tym sponsorów i osób decyzyjnych – nie będzie tolerowane. Osoby poproszone o zaprzestanie niedopuszczalnego zachowania powinny się natychmiast do danej prośby zastosować.</p>
    <p>Jeśli uczestnik społeczności zachowuje się niedopuszczalnie, organizatorzy mogą podjąć dowolne działania, które uznają za właściwe, włącznie z tymczasowym lub stałym wykluczeniem ze społeczności bez ostrzeżenia (i bez zwrotu pieniędzy w przypadku wydarzeń płatnych).</p>
    <h2>Doświadczasz niedopuszczalne zachowanie</h2>
    <p>Jeśli doświadczasz lub widzisz niedopuszczalne zachowanie – lub masz inne uwagi – jak najszybciej powiadom o tym organizatora. Zgłość nam zachowanie osobiście lub przy wykorzystaniu dowolnego kanału online (np. poprzez email <a href="mailto:info@pywaw.org">info@pywaw.org</a>). Organizatorzy są także dostępni, by wspomóc uczestników w kontaktach z lokalnymi organami egzekwowania prawa i by wspierać poczucie bezpieczeństwa osób doświadczających niedopuszczalnych zachowań. Jeśli osoba poszkodowana wyrazi zapotrzebowanie, organizatorzy zapewnią też odpowiednią eskortę.</p>
    <h2>Skargi</h2>
    <p>Jeśli uważasz, że informacja o naruszeniu przez ciebie tego <i>Kodeksu Postępowania</i> jest fałszywa lub niesprawiedliwa, zawiadom organizatorów wraz ze zwięzłym opisem swojej skargi. Twoja skarga zostanie rozpatrzona zgodnie z istniejącymi zasadami.</p>
    <h2>Zakres</h2>
    <p>Oczekujemy, że wszyscy uczestnicy społeczności (organizatorzy, zarówno opłacani, jak i wolontariusze; sponsorzy; pozostali goście) będą przestrzegać <i>Kodeksu Postępowania</i> we wszelkich miejscach spotkań społeczności (online i w świecie rzeczywistym), jak i w komunikacji prywatnej dotyczącej spraw społeczności.</p>
    <br>
    <p>Ten <i>Kodeks Postępowania</i> powstał na podstawie <a href="https://berlincodeofconduct.org/pl/" target="_blank">Berlińskiego Kodeksu Postępowania</a></p>
</div>
{% endblock %}
